@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
	background-color: white;
	color: black;
	font-size: 15px;
	font-family: "Source Sans 3", sans-serif;
}

h1, th {
	font-family: "Source Sans 3", sans-serif;
}

h1 {
	font-size: 28px;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	border: 2px #666 solid;
	text-align: center;
	font-size: 15px;
}

#free {
	background-color: #095BAB;
	color: white;
}

.unhide {display: none;}

a { color: #001f42; font-weight: 600; text-decoration: underline;}
a:hover { color: #095BAB;}

@media print {
	#free { font-weight: bold; color: #000000;}
	.hide {display: none;}
	.unhide {display:block}
	th, td {padding:10px;}
}
